@using System.Text.Json;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ArmadillosManager.Models.ViewModels.AgregarJugadorViewModel
@{
    Layout = "_Layout";
}
<body>

    <div class="contenido">
        <div class="header">
            <!--Parte de Arriba-->
            <h1>Gestion de Jugadores</h1>
            <nav>
                <h2>Agregando Jugador</h2>
            </nav>
        </div>

        <!--Info-->
        @*<h2>Patrocinador</h2>
        <table>
        <tr>
        <th>Id</th>
        <th>Responsable</th>
        <th>RFC</th>
        <th>Correo Electronico</th>
        <th>*</th>
        </tr>
        @foreach (var item in Model.Responsables)
        {
        <tr>
        <td>@item.Id</td>
        <td>
        <h6>@item.Nombre</h6>
        <ul>
        <li>@item.Direccion</li>
        <li>@item.Telefono</li>
        </ul>
        </td>
        <td>@item.Rfc</td>
        <td>@item.Correo</td>
        <td><Button>Gestionar</Button></td>
        </tr>
        }
        </table>
        <hr />*@
        <div class="infocontainer">
            <h2>Datos del Jugador</h2>
            <form method="post" action="~/Responsable/AgregarJugador">
                <h3>Nombre</h3>
                <input type="text" id="txtNombre" required="required" asp-for="Jugador.Nombre" />
                <div class="divv">
                    <div>
                        <h3>Categoria</h3>
                        <select id="cmbCategoria" required="required" asp-for="Jugador.Categoria" asp-items="@(new SelectList(Model.Categorias,"IdCategoria","Categoria1"))">
                            <option selected="selected" value="">-- Seleccionar categoria --</option>
                        </select>
                    </div>
                    <div>
                        <h3>Liga</h3>
                        <select id="cmbLiga" required="required" asp-for="Jugador.Liga" asp-items="@(new SelectList(Model.Ligas,"IdLiga","Liga1"))">
                            <option selected="selected" value="">-- Seleccionar liga --</option>
                        </select>
                    </div>
                </div>
                <h3>Domicilio</h3>
                <input type="text" id="txtDomicilio" required="required" asp-for="Jugador.Direccion" />
                <h3>telefono</h3>
                <input type="text" id="txtTelefono" required="required" asp-for="Jugador.Telefono" />
                <h3>Patrocinador</h3>
                <input type="text" id="txtRFC" required="required" asp-for="RFC" />
                @*<div id="autocomplete"></div>

                <script src="~/Views/LarvaScript.js"></script>
                <script>
                var nombres = @Html.Raw(JsonSerializer.Serialize(Model.Responsables));
                ReactDOM.render(
                React.createElement(Autocomplete, { suggestions: nombres }),
                document.getElementById('autocomplete')
                );
                </script>*@
                <p id="error">
                    @Html.ValidationSummary()
                </p>
                <div class="btncontainer">
                    <input type="submit" class="addbtn" href="~/" value="Enviar" />
                    <button formnovalidate href="~/" class="imprentbtn">
                        <i class="fa-sharp fa-solid fa-xmark"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>